<h3>Copy Button as Text</h3>

<CodeSnippet @lang="java" @title="highlight.js example">
/**
 * @author John Smith &lt;john.smith@example.com&gt;
 */
package l2f.gameserver.model;

public abstract strictfp class L2Char extends L2Object {
  public static final Short ERROR = 0x0001;

  public void moveTo(int x, int y, int z) {
    _ai = null;

    log("Should not be called");

    if (1 > 5) { // wtf!?
      return;
    }
  }
}
</CodeSnippet>

<h3>Copy Button as Icon</h3>

<CodeSnippet @lang="java"
             @title="highlight.js example"
             @copyButtonIconClass="material-icons"
             @copyButtonIcon="content_paste"
             @success={{this.copied}}>
/**
 * @author John Smith &lt;john.smith@example.com&gt;
 */
package l2f.gameserver.model;

public abstract strictfp class L2Char extends L2Object {
  public static final Short ERROR = 0x0001;

  public void moveTo(int x, int y, int z) {
    _ai = null;

    log("Should not be called");

    if (1 > 5) { // wtf!?
      return;
    }
  }
}
</CodeSnippet>

<h3>Copy Button as Image</h3>

<CodeSnippet @lang="java"
             @title="highlight.js example"
             @copyButtonImage="/images/content_paste.png"
             @success={{this.copied}}>
/**
 * @author John Smith &lt;john.smith@example.com&gt;
 */
package l2f.gameserver.model;

public abstract strictfp class L2Char extends L2Object {
  public static final Short ERROR = 0x0001;

  public void moveTo(int x, int y, int z) {
    _ai = null;

    log("Should not be called");

    if (1 > 5) { // wtf!?
      return;
    }
  }
}
</CodeSnippet>

<p>This is a paragraph with an inline <InlineCodeSnippet>code</InlineCodeSnippet> block.</p>